html,body{
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.8em;
    color: #666;
    background-color: gray;
}

.pimg1{
    background-image: url(assets/image1.png);
    min-height: 100%;
}

.pimg2{
    background-image: url(assets/image2.png);
    min-height: 400px;
}

.pimg3{
    background-image: url(assets/image3.png);
    min-height: 400px;
}

.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.ptext{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    font-size: 50px;
    box-shadow: 10px 10px 10px rgba(1, 1, 1, 0.8);
    color: white;
    text-transform: uppercase;
    font-weight: 0px;
    padding: 0px 40px;
}


h1{
    display: flex;
    justify-content: center;
    color: white;
}

p{
    text-align: center;
    font-size: 15px;
    margin: 0px 15%;
    color: white;
    margin-bottom: 50px;
}